
.bg-img
{
    background-image: url(https://media.fab.com/image_previews/gallery_images/636c134c-7d05-4bfc-b6a8-d1842a20a289/5d638b1b-1c38-43a5-b358-075db352cb74.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
